apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: knaval

spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: kennyacr1.azurecr.io/backend:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 3001

          env:
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: DATABASE_URI

            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-secret
                  key: REDIS_PASSWORD

            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: backend-configmap
                  key: REDIS_HOST

            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-configmap
                  key: REDIS_PORT

            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-configmap
                  key: PORT

          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"